<div class="container text-center mt-5">
    <h1>Welcome to Simple Quiz</h1>
    <p>Start managing your quizzes now.</p>
    <a href="/quizzes" class="btn btn-primary">View Quizzes</a>
    <a href="/questions" class="btn btn-primary">View Questions</a>
</div>